## Sum of 2 numbers

# This is a simple Python script to demonstrate basic programming concepts
# It calculates the sum of two numbers and prints the result

In [27]:

a=3
b=4
sum = a + b
print("The sum of", a, "and", b, "is", sum)

The sum of 3 and 4 is 7

## User input without int declaration

In [28]:
# Now, let's take input from the user for a more interactive experience
a=input("Enter first number: ")  # Input will be treated as a string
b=input("Enter second number: ")
sum = a + b
print("The sum of", a, "and", b, "is", sum)

The sum of 99 and 6 is 996

## After declaration of int

In [29]:
# Note: The above input will concatenate strings, not add numbers.
# To fix this, we need to convert the inputs to integers
a = int(input("Enter first number: "))  # Convert input to integer
b = int(input("Enter second number: "))
sum = a + b
print("The sum of", a, "and", b, "is", sum)

The sum of 2 and 2 is 4

# Demonstrating string concatenation

In [30]:

name1 = 'Aaditya Singh Naruka'              # Demonstrating different ways to define strings
name2 = "Aaditya Singh's assignment" # Double quotes is used for English strings
name3 = '''Aaditya 
Singh'''                            # Triple quotes can be used for multi-line strings
print(name1)
print(name2)
print(name3)

Aaditya Singh Naruka
Aaditya Singh's assignment
Aaditya
Singh

# Demonstrating string formatting

In [31]:

print(name1.upper())  # Converts string to uppercase
print(name2.lower())  # Converts string to lowercase

AADITYA SINGH NARUKA
aaditya singh's assignment

# Demonstrating arithmetic operations

In [32]:

y = 7+8
print(y)

15

## Use backslash to continue from next line
# also used as a escaping charatcter

In [33]:
# Demonstrating line continuation
y1 = 7+\
8
print(y1)  # This will print 15, demonstrating line continuation with backslash

15

# Demonstrating incorrect line continuation

In [34]:

# y2 = 7 + 
# 8
# print(y2)  # This will raise a syntax error due to incorrect line continuation

name='Aaditya Singh\'s book'  # Using backslash to escape single quote in string
print(name)

Aaditya Singh's book

# Demonstrating boolean expressions

In [35]:

print(3 == 4)  # This will print False since 3 is not equal to 4
print(3 != 4)  # This will print True since 3 is not equal to 4
print(3 < 4)   # This will print True since 3 is less than 4
print(3 > 4)   # This will print False since 3 is not greater than 4
print(3 <= 4)  # This will print True since 3 is less than or equal to 4
print(3 >= 4)  # This will print False since 3 is not greater than or equal to 4
print(True+True)    # This will print 2 since True is treated as 1
print(True+False)   # This will print 1 since True is treated as 1 and False as 0
print(False+False)  # This will print 0 since both are False

False
True
True
False
True
False
2
1
0

# Demonstrating string operations

In [36]:

print("S"+"a") # This will print "Sa" since it concatenates the two strings
print("S"*3)   # This will print "SSS" since it repeats the string 3 times

Sa
SSS

# Demonstrating string indexing and slicing

In [37]:

s = "Aaditya Singh Naruka"
print(s[0])         # This will print 'C', the first character of the string
print(s[1])         # This will print 'h', the second character of the string
print(s[6])         # This will print ' ', the seventh character of the string
print(s[-1])        # This will print 'l', the last character of the string
print(s[0:5])       # This will print 'Chira', the first five characters of the string
print(s[7:])        # This will print 'Agrawal', from the eigth character to the end
#s[0] = "D"          # This will raise an error since strings are immutable in Python
s.replace("C", "D") # This will replace 'C' with 'D' in the string, but does not modify the original string

A
a
a
a
Aadit
 Singh Naruka

'Aaditya Singh Naruka'

# Demonstrating complex numbers

In [38]:

x=3+5j
print(x)  # This will print the complex number (3+5j)

(3+5j)

# Demonstrating list operations

In [39]:

list_1 = [1, 2, 3, 4, "Aaditya", [1, 2, 3, 4]]  # A simple list of integers
print(list_1)      # This will print the entire list
print(list_1[0])   # This will print the first element of the list, which is 1
print(list_1[4])   # This will print the fifth element of the list, which is "Chirag"
print(list_1[5])   # This will print the sixth element of the list, which is another list [1, 2, 3, 4]
print(list_1[-3])  # This will print the third last element of the list, which is 4

[1, 2, 3, 4, 'Aaditya', [1, 2, 3, 4]]
1
Aaditya
[1, 2, 3, 4]
4

# Demonstrating tuple operations

In [40]:

tuple_1 = (1, 2, 3, 4, "Aaditya", [1, 2, 3, 4])  # A simple tuple of integers
print(tuple_1)      # This will print the entire tuple
print(tuple_1[0])   # This will print the first element of the tuple, which is 1
print(tuple_1[4])   # This will print the fifth element of the tuple, which is "Chirag"
print(tuple_1[5])   # This will print the sixth element of the tuple, which is another list [1, 2, 3, 4]
type(tuple_1)       # This will print <class 'tuple'> since tuple_1 is a tuple
tuple_2=(7)         # This is not a tuple, it's just an integer
type(tuple_2)       # This will print <class 'int'> since tuple_2 is not a tuple but an integer
tuple_3=(7,)        # This is a tuple with one element

(1, 2, 3, 4, 'Aaditya', [1, 2, 3, 4])
1
Aaditya
[1, 2, 3, 4]

# Demonstrating set operations

In [41]:

set_1 = {1, 2, 3, 4, "Aaditya", (1, 2, 3, 4)}#[1, 2, 3, 4]}  # A simple set of integers and a tuple and a list
# Note: Sets do not allow mutable types like lists, so the list will be ignored
print(set_1)       # This will print the entire set
print(1 in set_1)  # This will print True since 1 is in the set
print(5 in set_1)  # This will print False since 5 is not in the set
# print(set_1[0])    # This will raise an error since sets do not support indexing

{(1, 2, 3, 4), 1, 2, 3, 4, 'Aaditya'}
True
False

In [42]:
a=5
b=6
c=a+b
print(c)
print(a)
print(a,end="     ")
print(b)
s="chirag"
v="aaditya"
print(s,v)
print(s,v,sep="-->")

11
5
5     6
chirag aaditya
chirag-->aaditya

# Demonstration of for loop

In [43]:
for word in "Aaditya":
    print(word,"hi")       # This will print each character in the string "Chirag" followed by "hi"

for ele in [1, 2, 3, 4, 5]:    
    print(ele)             # This will print each element in the list [1, 2, 3, 4, 5]
    
#for digit in 1234567890:
#   print(digit)           # This will raise an error since integers are not iterable, we need to convert it to a string first

for ele in range(1,5):
    print(ele)             # This will print numbers from 1 to 4 (5 is not included)
    
# range(start,stop,step-size)

d=range(1,10)  # This will create a range object from 1 to 9
print(d)          # This will print the range object, which is not very informative
print(list(d))    # This will convert the range object to a list and print it, which will show [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(tuple(d))   # This will convert the range object to a tuple and print it, which will show (1, 2, 3, 4, 5, 6, 7, 8, 9)
print([*d])             # This will unpack the range object into a list, which will show [1, 2, 3, 4, 5, 6, 7, 8, 9]
print((*d,))            # This will unpack the range object into a tuple, which will show (1, 2, 3, 4, 5, 6, 7, 8, 9)

A hi
a hi
d hi
i hi
t hi
y hi
a hi
1
2
3
4
5
1
2
3
4
range(1, 10)
[1, 2, 3, 4, 5, 6, 7, 8, 9]
(1, 2, 3, 4, 5, 6, 7, 8, 9)
[1, 2, 3, 4, 5, 6, 7, 8, 9]
(1, 2, 3, 4, 5, 6, 7, 8, 9)

Demonstration of while loop

In [44]:
num=1
while num<5:
    print("hii")
    num+=1

hii
hii
hii
hii

Demonstration of break statement

In [45]:
for i in range(1,10):
    print("hii")
    break

hii

Demonstration of continue statement

In [46]:
for i in range(1,10):
    print("hii")
    continue

hii
hii
hii
hii
hii
hii
hii
hii
hii

Demonstration of continue statement

In [47]:
for i in range(1,10):
    continue
    print("hii")
for i in range(1,4):
    if i==2:
        continue
    print(i)

1
3

Use of random module

In [48]:
import random                                       #Random generates a random value each time
a=random.randint(1,10)                              #Randint generates a random integer between the given limit each time we run it            
print(a)

4

Number Guessing game

In [49]:
import random
num=random.randint(1,100)
guess=int(input("Guess the number between 1 and 100:\t"))
while guess!=num:
    if guess>num:
        print("Move down, the number is greater than the original number")
    else:
        print("Move up, the number is lesser than the original number")
    guess=int(input("Guess the number:\t"))
print("Congratulations, You guessed the number correctly")

Move down, the number is greater than the original number
Move down, the number is greater than the original number
Move down, the number is greater than the original number
Move down, the number is greater than the original number
Move down, the number is greater than the original number
Move down, the number is greater than the original number
Move down, the number is greater than the original number
Move down, the number is greater than the original number
Move down, the number is greater than the original number
Move down, the number is greater than the original number
Move down, the number is greater than the original number
Move down, the number is greater than the original number
Move down, the number is greater than the original number
Move down, the number is greater than the original number
Move up, the number is lesser than the original number
Move up, the number is lesser than the original number
Move up, the number is lesser than the original number
Move down, the number is greater than the original number
Congratulations, You guessed the number correctly

In [50]:
import random
num=random.randint(1,100)
counter=0
while True:
    print("Number guessing game")
    guess=int(input("Guess the number between 1 and 100:\t"))
    if guess==num:
        print("Congratulations, You guessed the number correctly")
        break
    elif guess>num:
        print("Move down, the number is greater than the original number")
        counter+=1
    elif guess<num:
        print("Move up, the number is lesser than the original number")
        counter+=1
    if counter==5:
        break

Number guessing game
Move down, the number is greater than the original number
Number guessing game
Move down, the number is greater than the original number
Number guessing game
Move up, the number is lesser than the original number
Number guessing game
Move down, the number is greater than the original number
Number guessing game
Move down, the number is greater than the original number

Reverse of a number without swapping

In [51]:
#reverse of a number
num=int(input("Enter a number:\t"))
print("The number before reverse is", num)
rev=0
while num>0:
    mod=num%10
    rev=rev*10+mod
    num=num//10
print(rev)

The number before reverse is 14
41

Palindrome

In [52]:
word=input("Enter a word:\t")
print(word)
if word==word[::-1]:
    print("The word is palindrome")
else:
    print("The word is not palindrome")

14
The word is not palindrome

palindrome using len function

In [53]:
#to check wether a word is palindrome or not
word=input("Enter a word:\t")
print(word)
rev=""
for i in range(len(word)-1,-1,-1):
    rev=rev+word[i]
if word==rev:
    print("The word is palindrome")
else:
    print("The word is not palindrome")

kjanfjw
The word is not palindrome

Unique way for palindrome

In [63]:
word = input("Enter a word to check if it is a palindrome: ")
print(word)
reversed_word = ""
for char in word:                         # This will iterate through each character in the word
    reversed_word = char + reversed_word  # This will prepend the character to the reversed word
if word == reversed_word:                 # This will check if the original word is equal to the reversed word
    print("The word is a palindrome.")
else:
    print("The word is not a palindrome.")

madam
The word is a palindrome.

List

In [64]:
list45=["a","b",1,2,3,4,5,"xy"]
print(list45[2])                                   #positive indexing
print(list45[-1])                                  #negative indexing
list45[2]="c"                                      #mutability of list
print(list45[2]) 
list45[-1]="z"
print(list45[-1])

1
xy
c
z

In [65]:
print(list45[0:6])                                 #Slicing
print(list45[0:6:2])                               #Slicing with step size
print(list45[::-1])                                #Reversing
print(list45[-1:-5:-1])                            #Reversing with step size
print(list45[-5:-1])                               #positive indexing with negative indexes

['a', 'b', 'c', 2, 3, 4]
['a', 'c', 3]
['z', 5, 4, 3, 2, 'c', 'b', 'a']
['z', 5, 4, 3]
[2, 3, 4, 5]

In [66]:
print(list45.append([90,99]))                      #Append function
print(list45)
print(list45.extend([100,101]))                    #Extend function
print(list45)
list45=list45+["x","y"]                             #Concatenation
print(list45)

None
['a', 'b', 'c', 2, 3, 4, 5, 'z', [90, 99]]
None
['a', 'b', 'c', 2, 3, 4, 5, 'z', [90, 99], 100, 101]
['a', 'b', 'c', 2, 3, 4, 5, 'z', [90, 99], 100, 101, 'x', 'y']

In [67]:
popped_element=list45.pop()                        #pop function
print(popped_element)
print(list45)
list45.remove("a")                                 #Remove function
print(list45)
print(list45.index("b"))                           #Index function
print(list45.count(1))                             #Count function

y
['a', 'b', 'c', 2, 3, 4, 5, 'z', [90, 99], 100, 101, 'x']
['b', 'c', 2, 3, 4, 5, 'z', [90, 99], 100, 101, 'x']
0
0

In [68]:
del(list45[0])                                     #Delete function
print(list45)

['c', 2, 3, 4, 5, 'z', [90, 99], 100, 101, 'x']

In [76]:
new_list=list(range(1,10))
print(new_list)
square_list=[i**2 for i in new_list]               #List comprehension
print(square_list)
even_square_list=[i**2 for i in new_list if i%2==0] #List comprehension
print(even_square_list)
even_odd_square_list=["even" if i%2==0 else "odd" for i in new_list] #List comprehension
print(even_odd_square_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 4, 9, 16, 25, 36, 49, 64, 81]
[4, 16, 36, 64]
['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [81]:
list_packed=[[1,2,3],["a","b","c"]]
print(list_packed)
list_unpacked=list_packed[0]+list_packed[1]
print(list_unpacked)

[[1, 2, 3], ['a', 'b', 'c']]
[1, 2, 3, 'a', 'b', 'c']

In [84]:
x=50
def test():
    print(x)
test()

50

In [85]:
x=50
def test():
    #x=x+10              it will show error because x is local variable and we're attempting to modify global variable
    global x              #to modify global variable
    x=x+10
    print(x)
test()

60

In [88]:
def test2(x,y):
    print(x+y)
#test2()                            #error beacause of missing arguments
test2(4,5)

9